<div class="section">
  <div class="container">
    <h1 class="title">New Post</h1>
    <%= render 'form', post: @post %>
    <%= link_to 'Back', posts_path, class: "button is-light mt-2" %>
  </div>
</div>



